<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medicine.manager.dao.MedicineDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="medicineDTO" type="com.medicine.manager.model.Medicine">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="mode" property="mode"/>
        <result column="dosage" property="dosage"/>
        <result column="efficacy" property="efficacy"/>
        <result column="description" property="description"/>
        <result column="caution" property="caution"/>
        <result column="inventory" property="inventory" />
        <result column="product_time" property="productTime" />
        <result column="expire_time" property="expireTime"/>
    </resultMap>
    <update id="increInventory">
        UPDATE
          medicine
        SET
          inventory = inventory + #{increCount}
        WHERE
          id = #{id}
    </update>
</mapper>
