<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medicine.manager.dao.PurchaseRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="PurchaseRecordDTOMap" type="com.medicine.manager.bean.dto.PurchaseRecordDTO">
        <id column="id" property="id" />
        <result column="purchase_count" property="purchaseCount" />
        <result column="purchase_price" property="purchasePrice" />
        <result column="purchase_time" property="purchaseTime" />
        <association property="medicine" javaType="com.medicine.manager.bean.dto.MedicineSmallDTO">
            <result column="medicine_id" property="id"/>
            <result column="medicine_name" property="name" />
        </association>
        <association property="supplier" javaType="com.medicine.manager.bean.dto.SupplierSmallDTO">
            <result column="supplier_id" property="id"/>
            <result column="supplier_name" property="name" />
        </association>
        <association property="user" javaType="com.medicine.manager.bean.dto.UserSmallDTO">
            <result column="user_id" property="id"/>
            <result column="user_name" property="name" />
        </association>
    </resultMap>
    <select id="queryByMap" resultMap="PurchaseRecordDTOMap">
        SELECT
            pr.*,
            m.name AS medicine_name,
            s.name AS  supplier_name,
            u.name AS user_name
        FROM
            purchase_record AS pr
        LEFT JOIN medicine AS m
        ON pr.medicine_id = m.id
        LEFT JOIN supplier AS s
        ON pr.supplier_id = s.id
        LEFT JOIN user AS  u
        ON pr.user_id = u.u_id
        <where>
            <if test="name != null">
                AND m.name LIKE concat(concat('%',#{name}),'%')
            </if>
            <if test="startTime != null">
                AND purchase_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND purchase_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY purchase_time DESC
        <if test="pageNo != null and pageSize != null">
            LIMIT #{pageNo}, #{pageSize}
        </if>
    </select>
    <select id="selectCountByMap" resultType="java.lang.Long">
        SELECT
          COUNT(pr.id)
        FROM
          purchase_record AS pr
        LEFT JOIN medicine AS m
        ON pr.medicine_id = m.id
        <where>
            <if test="name != null">
                AND m.name LIKE concat(concat('%',#{name}),'%')
            </if>
            <if test="startTime != null">
                AND purchase_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND purchase_time &lt;= #{startTime}
            </if>
        </where>
    </select>
    <select id="selectSummaryPrice" resultType="java.math.BigDecimal">
        SELECT
          SUM(purchase_count * purchase_price)
      FROM
        purchase_record
    </select>
</mapper>
