<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medicine.manager.dao.RoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="RoleMap" type="com.medicine.manager.model.Role">
        <id column="r_id" property="rId" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="level" property="level" />
        <result column="create_time" property="createTime" />
        <collection property="permissions" column="r_id" ofType="com.medicine.manager.model.Permission" select="com.medicine.manager.dao.PermissionDao.selectAllByRoleId" />
    </resultMap>

    <select id="findByUserId" resultMap="RoleMap">
        select
            r.*
        from
            role as r
        left join
            (select r_id from user_role where user_role.u_id = #{u_id} ) as ur
        on
            ur.r_id = r.r_id
    </select>

</mapper>
