<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medicine.manager.dao.UserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.medicine.manager.model.User">
        <id column="u_id" property="uId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="email" property="email" />
        <result column="enabled" property="enabled" />
        <result column="address" property="address" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_time" property="createTime" />
        <result column="j_id" property="jId" />
        <result column="d_id" property="dId" />
    </resultMap>
    <resultMap id="UserResultMap" type="com.medicine.manager.model.User" extends="BaseResultMap">
        <!--<association property="dept" column="d_id" select="com.medicine.manager.dao.DeptDao.findByDId">
        </association>-->
        <association property="dept" javaType="com.medicine.manager.model.Dept">
            <id column="d_id" property="dId" />
            <result column="dept_name" property="name" />
            <result column="parent_id" property="parentId" />
            <result column="dept_create_time" property="createTime" />
        </association>
        <association property="job" javaType="com.medicine.manager.model.Job">
            <id column="j_id" property="jId" />
            <result column="job_name" property="name" />
            <result column="sort" property="sort" />
            <result column="job_create_time" property="createTime" />
        </association>
    </resultMap>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT
            u.*,
             d.d_id, d.name as dept_name, d.parent_id, d.create_time as dept_create_time,
             j.j_id, j.name as job_name, j.sort, j.create_time as job_create_time
        FROM
        (
            SELECT
                user.*
            FROM  user
            WHERE username = #{username}
        ) AS u
        LEFT JOIN dept d
        ON u.d_id = d.d_id
        LEFT JOIN  job j
        ON u.j_id = j.j_id
    </select>
    <select id="findByEmail" resultMap="BaseResultMap">
      SELECT
            u.*,
             d.d_id, d.name as dept_name, d.parent_id, d.create_time as dept_create_time,
             j.j_id, j.name as job_name, j.sort, j.create_time as job_create_time
        FROM
        (
            SELECT
                user.*
            FROM  user
            WHERE email = #{email}
        ) AS u
        LEFT JOIN dept d
        ON u.d_id = d.d_id
        LEFT JOIN  job j
        ON u.j_id = j.j_id
    </select>


</mapper>
